// Colors

$link-color : #000;
$menu-background : #000;

// Font Families

$primary-font : 'Crimson Text', Georgia, serif;
$secondary-font : 'Oswald', 'Helvetica Nueue', sans-serif;

// Font Sizing

$primary-font-size : 17px;
