@font-face {
	font-family: 'cascade-icons';
	src:url('cascade-icons.eot?v1');
	src:url('cascade-icons.eot?#v1') format('embedded-opentype'),
		url('cascade-icons.woff?v1') format('woff'),
		url('cascade-icons.ttf?v1') format('truetype'),
		url('cascade-icons.svg?v1#cascade') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="cascade-icon-"], [class*=" cascade-icon-"] {
	font-family: 'cascade-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cascade-icon-search:before {
	content: "\f002";
}
.cascade-icon-search-plus:before {
	content: "\f00e";
}
.cascade-icon-search-minus:before {
	content: "\f010";
}
.cascade-icon-tags:before {
	content: "\f02c";
}
.cascade-icon-pencil:before {
	content: "\f040";
}
.cascade-icon-folder-open:before {
	content: "\f07c";
}
.cascade-icon-twitter:before {
	content: "\f099";
}
.cascade-icon-facebook:before {
	content: "\f09a";
}
.cascade-icon-github:before {
	content: "\f09b";
}
.cascade-icon-navicon:before {
	content: "\f0c9";
}
.cascade-icon-pinterest:before {
	content: "\f0d2";
}
.cascade-icon-google-plus:before {
	content: "\f0d5";
}
.cascade-icon-linkedin:before {
	content: "\f0e1";
}
.cascade-icon-mail-reply:before {
	content: "\f112";
}
.cascade-icon-pencil-square:before {
	content: "\f14b";
}
.cascade-icon-instagram:before {
	content: "\f16d";
}
.cascade-icon-flickr:before {
	content: "\f16e";
}
.cascade-icon-tumblr:before {
	content: "\f173";
}
.cascade-icon-dribbble:before {
	content: "\f17d";
}
.cascade-icon-skype:before {
	content: "\f17e";
}
.cascade-icon-vimeo-square:before {
	content: "\f194";
}
.cascade-icon-wordpress:before {
	content: "\f19a";
}
.cascade-icon-behance:before {
	content: "\f1b4";
}
.cascade-icon-spotify:before {
	content: "\f1bc";
}
.cascade-icon-link:before {
	content: "\f0c1";
}
.cascade-icon-caret-down:before {
	content: "\f0d7";
}
.cascade-icon-user:before {
	content: "\f007";
}
.cascade-icon-clock:before {
	content: "\f017";
}
.cascade-icon-tag:before {
	content: "\f02b";
}
.cascade-icon-comments:before {
	content: "\f086";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}